In [32]:
import pandas as pd
import pyarrow.parquet as pq
import datetime

In [33]:
df = pq.read_table(source="data/RowData/player_log/player=257/month=2020-11.parquet").to_pandas()

In [ ]:
df

In [34]:
df.head(10)

,OidColumn,PlayerUUID,BillingDate,MediaItemName,Duration,BookingId,LogFileName,Src,MediaItemId,advertisementId,MacCountAll,MacCountStaticOnly,DateTimeInTick,DateTimeOutTick
0,5078689766,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Galaktika_stavka_3-3_Novosib_01-30 noyabr_50000,5.000000000000000000,None,CS statistics,None,NaN,24437,7,5,1604195993640,1604195998640
1,5078689784,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,14-11_NSK_nov_50000,5.000000000000000000,None,CS statistics,None,NaN,24259,7,2,1604195988640,1604195993640
2,5078689802,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Mvideo_BF_Image 2910_DBB_5s_50000,5.000000000000000000,None,CS statistics,None,NaN,24636,8,4,1604195983640,1604195988640
3,5078689820,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,MIELE_0111_Novosibirsk_50000,5.000000000000000000,None,CS statistics,None,NaN,24928,9,6,1604195978640,1604195983640
4,5078689838,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,GPB_kredit 5 9_november_DBB 5_50000,5.000000000000000000,None,CS statistics,None,NaN,24905,8,3,1604195973637,1604195978637
5,5078689856,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Galereya Novosibirsk_Osenniy SALE_50000,5.000000000000000000,None,CS statistics,None,NaN,24653,11,3,1604195968637,1604195973637
6,5078689874,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,mdg_dooh_8966_metro_vegetables_dbb_novosibirsk...,5.000000000000000000,,CS statistics,0-268861035,120576.0,25065,6,2,1604195963637,1604195968637
7,5078689893,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Galaktika_stavka_3-3_Novosib_01-30 noyabr_50000,5.000000000000000000,None,CS statistics,None,NaN,24437,6,3,1604195958637,1604195963637
8,5078689911,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,18-11_NSK_nov_50000,5.000000000000000000,None,CS statistics,None,NaN,24258,5,3,1604195953637,1604195958637
9,5078689929,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Mvideo_BF_Image 2910_DBB_5s_50000,5.000000000000000000,None,CS statistics,None,NaN,24636,6,3,1604195948637,1604195953637

In [48]:
datetime.datetime.fromtimestamp(1604195994)

datetime.datetime(2020, 11, 1, 4, 59, 54)

In [62]:
def get_row(date_):
    in_t = datetime.datetime.fromtimestamp(date_['DateTimeInTick'] / 1000)
    out_t = datetime.datetime.fromtimestamp(date_['DateTimeOutTick'] / 1000)
    month_1 = in_t.month
    month_2 = out_t.month
    weekday_1 = in_t.weekday()
    weekday_2 = out_t.weekday()
    halfhour_1 = 2 * in_t.hour + 1 + int(in_t.minute >= 30)
    halfhour_2 = 2 * in_t.hour + 1 + int(in_t.minute >= 30)
    efficiency = date_['MacCountAll'] / date_['Duration']
    
    temp = pd.DataFrame()
    if month_1 != month_2 or weekday_1 != weekday_2 or halfhour_1 != halfhour_2:
        temp.append({'month': month_1, 'week_day': weekday_1, 'half_hour': halfhour_1, 'efficiency': efficiency}, ignore_index=True)
        temp.append({'month': month_2, 'week_day': weekday_2, 'half_hour': halfhour_2, 'efficiency': efficiency}, ignore_index=True)
        return temp
    else:
        temp.append({'month': month_1, 'week_day': weekday_1, 'half_hour': halfhour_1, 'efficiency': efficiency}, ignore_index=True)
        return temp

In [63]:
new_df = pd.DataFrame()
new_df

Empty DataFrame
Columns: []
Index: []

In [64]:
df.apply(lambda x: new_df.append(get_row(x), ignore_index=True), axis=1)

0         Empty DataFrame
Columns: []
Index: []
1         Empty DataFrame
Columns: []
Index: []
2         Empty DataFrame
Columns: []
Index: []
3         Empty DataFrame
Columns: []
Index: []
4         Empty DataFrame
Columns: []
Index: []
                          ...
517442    Empty DataFrame
Columns: []
Index: []
517443    Empty DataFrame
Columns: []
Index: []
517444    Empty DataFrame
Columns: []
Index: []
517445    Empty DataFrame
Columns: []
Index: []
517446    Empty DataFrame
Columns: []
Index: []
Length: 517447, dtype: object

In [65]:
new_df

Empty DataFrame
Columns: []
Index: []